@CHARSET "UTF-8";
body {background-color: #fff599; }
h1 {
	font-size: 40px;
}
.allmessage {
	background-color: white;
	margin: 15px;
}
.messagesubject {
	width: 100%;
	word-break: break-all;
	background-color: #b3ffe6;
	font-size: 30px;
}
.messagetext {
	width: 100%;
	word-break: break-all;
	font-size: 25px;
	margin: 10px;
}
.status {
	font-size: 20px;
}
.information {
	font-size: 15px;
	text-decoration: underline;
}
.commentsubject {
	width: 100%;
	word-break: break-all;
	font-size: 20px;
	margin: 10px;
}